---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import PageLayout from "../../layouts/PageLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import ChevronLeft from "../../components/icons/ChevronLeft.astro";
import LanguageSelect from "../../components/LanguageSelect.astro";
// import Share from "../../components/icons/Share.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;

const hasLanguageSelector = (post.data.languages?.length || 0) > 1;

const { Content } = await post.render();

const meta = {
  title: `${post.data.title} | Blog | Francisco Diaz Paccot`,
  description: post.data.description,
  logoUrl: "https://i.ibb.co/HXYhwjK/blog-portrait.png",
  url: "https://franciscodiazpaccot.dev",
};
---

<PageLayout {meta} router={`/blog/${post.slug}`}>
  <article
    class="mx-auto max-w-4xl font-sans antialiased min-h-screen flex flex-col items-center relative"
  >
    {hasLanguageSelector && <LanguageSelect slug={`/blog/${post.slug}`} />}
    <div class="p-4 pt-8 mb-6 text-white md:p-5">
      <div class="flex items-center gap-2">
        <a
          href="/blog"
          class="inline-block text-gray-400 hover:bg-neutral-900 focus:outline-none focus:ring-4 focus:ring-neutral-900 rounded-lg text-sm py-2.5"
          aria-label="Click to go Blogs"
        >
          <ChevronLeft />
        </a>
        <h1 class="text-orange font-bold my-3">{post.data.title}</h1>
      </div>
      <div class="flex justify-between relative">
        <div>
          <FormattedDate
            locale="en-US"
            date={post.data.pubDate}
            className="text-gray-400"
          />
          <span class="ml-2 italic text-gray-400 text-sm"
            >{`~${post.data.readingTime} min read`}</span
          >
        </div>
        {/*<Share className="pr-2 cursor-pointer" height={20} width={24} />*/}
      </div>
      {
        post.data.updatedDate && (
          <div class="italic text-gray-400 text-sm">
            Last updated on{" "}
            <FormattedDate locale="en-US" date={post.data.updatedDate} />
          </div>
        )
      }
      <hr />
      {
        /*
        <div class="relative">
        <div class="w-full flex justify-between text-white absolute bg-[#9da3ae] rounded-bl-md rounded-br-md left-0 share-list share-hidden">
          <a id="whatsapp"
            ><img
              src="https://img.icons8.com/material-rounded/24/000000/whatsapp--v1.png"
            /></a
          >
          <a id="facebook"
            ><img
              src="https://img.icons8.com/material-rounded/24/000000/facebook-new.png"
            /></a
          >
          <a id="twitter"
            ><img
              src="https://img.icons8.com/material-rounded/24/000000/twitter-squared.png"
            /></a
          >
          <a id="linkedin"
            ><img
              src="https://img.icons8.com/material-rounded/24/000000/linkedin--v1.png"
            /></a
          >
        </div>
      </div>
      */
      }
      {
        post.data.image && (
          <div class="flex items-center justify-center my-5">
            <img width={720} src={post.data.image} alt={post.data.title} />
          </div>
        )
      }
      <p class="my-4 text-center text-sm text-orange">
        {post.data.description}
      </p>
      <Content />
    </div>
    <div class="flex justify-between w-full">
      <div>
        {
          post.data.mediumBlog || post.data.devBlog ? (
            <div class="mb-6 ml-6 w-full justify-end items-center">
              <p class="text-orange text-sm mb-1">Also in</p>
              <div class="flex gap-3">
                {post.data.mediumBlog && (
                  <a
                    href={post.data.mediumBlog}
                    target="_blank"
                    class="rounded-md overflow-hidden border border-orange"
                  >
                    <img class="h-6 w-6" src="/medium.png" alt="Medium blog" />
                  </a>
                )}
                {post.data.devBlog && (
                  <a
                    href={post.data.devBlog}
                    target="_blank"
                    class="rounded-md overflow-hidden border border-orange"
                  >
                    <img class="h-6 w-6" src="/dev-to.png" alt="Dev blog" />
                  </a>
                )}
              </div>
            </div>
          ) : null
        }
      </div>
      <!-- <div class="mr-6 mb-6 items-center">
        <p class="text-orange text-sm mb-1">Share</p>
        <Share />
      </div> -->
    </div>
  </article>
</PageLayout>

<script>
  const pageLink = window.location.href;
  const pageTitle = String(document.title).replace(/\&/g, "%26");

  const wpButton = document.getElementById("whatsapp");
  const fbButton = document.getElementById("facebook");
  const twButton = document.getElementById("twitter");
  const lnButton = document.getElementById("linkedin");

  if (wpButton) {
    wpButton.addEventListener("click", () => {
      window.open(`https://api.whatsapp.com/send?text=${pageLink}`);
    });
  }

  if (fbButton) {
    fbButton.addEventListener("click", () => {
      window.open(
        `http://www.facebook.com/sharer.php?u=${pageLink}&quote=${pageTitle}`,
        "sharer",
        "toolbar=0,status=0,width=626,height=436"
      );
    });
  }

  if (twButton) {
    twButton.addEventListener("click", () => {
      window.open(
        `https://twitter.com/intent/tweet?text=${pageTitle}&url=${pageLink}`,
        "sharer",
        "toolbar=0,status=0,width=626,height=436"
      );
    });
  }

  if (lnButton) {
    lnButton.addEventListener("click", () => {
      window.open(
        `https://www.linkedin.com/sharing/share-offsite/?url=${pageLink}`,
        "sharer",
        "toolbar=0,status=0,width=626,height=436"
      );
    });
  }
</script>

<style>
  .share-list a {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 4px;
    margin: 2px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: color;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      filter: invert(100%);
    }
  }

  .share-hidden {
    display: none;
  }

  a.fb-h {
    background: #3b5998;
  }
  a.tw-h {
    background: #00acee;
  }
  a.li-h {
    background: #0077b5;
  }
  a.wp-h {
    background: #69c060;
  }
</style>

<script>
  window.addEventListener("scroll", () => {
    const calculation =
      window.pageYOffset / (document.body.offsetHeight - window.innerHeight);
    document.body.style.setProperty("--scroll", calculation.toString()), false;
  });
</script>
