---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Pin from "../icons/Pin.astro";
import Badge from "../Badge.astro";

const blogsData = await getCollection(
  "blog",
  ({ data }) => data.published === true && data.blogLanguage === "en"
);

const allBlogs = blogsData.map((blog) => {
  const pubDate = new Date(blog.data.pubDate);
  const timestamp = pubDate.getTime();

  return {
    title: blog.data.title,
    description: blog.data.description,
    link: `/blog/${blog.slug}/`,
    img: blog.data.image as string,
    timestamp,
  };
});

const webpackStatsFileBlog = allBlogs.find(
  (blog) => blog.title === "Webpack stats file"
)!;
const blogs = [
  { ...webpackStatsFileBlog, isPinned: true, isRecommended: true },
  ...allBlogs.sort((a, b) => b.timestamp - a.timestamp).slice(0, 2),
];

console.log(blogs);
---

<section
  class="w-full py-12 text-white md:py-16 lg:py-20 md:mx-auto md:w-full md:max-w-6xl"
>
  <div class="container px-4 md:px-6">
    <div class="flex items-center justify-between mb-6 md:mb-8 lg:mb-10">
      <p class="text-2xl font-bold tracking-tight text-orange sm:text-3xl">
        Latest from the Blog
      </p>
      <a
        href="/blog"
        class="text-sm font-medium text-primary hover:underline underline-offset-4"
      >
        View All
      </a>
    </div>
    <div class="grid gap-12 md:gap-6 md:grid-cols-3">
      {
        blogs.map((blog) => (
          <article class="group rounded-lg bg-orange-25 shadow-sm transition-all hover:shadow-md">
            <a href={blog.link} class="block">
              <div class="aspect-[4/3] overflow-hidden rounded-t-lg relative">
                <Image
                  src={blog.img}
                  alt={blog.title}
                  width={600}
                  height={450}
                  loading="lazy"
                  class="h-full w-full object-cover transition-all opacity-75 group-hover:scale-105"
                  style={{ aspectRatio: "600/450", objectFit: "cover" }}
                />
                {blog.isPinned ? (
                  <div class="absolute top-0 right-0 z-10 p-2">
                    <Pin color="#2a2a2a" />
                  </div>
                ) : null}
              </div>
              <div class="p-4 relative">
                {blog.isRecommended ? (
                  <Badge
                    label="Recommended"
                    classes="w-fit absolute top-2 right-2"
                  />
                ) : null}
                <h3 class="text-lg font-semibold tracking-tight">
                  {blog.title}
                </h3>
                <p class="mt-2 text-gray-300 text-muted-foreground line-clamp-3">
                  {blog.description}
                </p>
              </div>
            </a>
          </article>
        ))
      }
    </div>
  </div>
</section>
