---
const {
  href,
  className,
  target = "_blank",
  containerClass = "w-full",
  size = "text-sm",
  ...otherProps
} = Astro.props;
---

<div class={`${containerClass} flex items-center justify-center`}>
  <a
    class={`flex items-center py-2 px-3 mt-4 font-semibold rounded-full black-text ${size} orange-background github-link ${className}`}
    href={href}
    target={target}
    aria-label="Click to go to my github page"
    {...otherProps}
  >
    <slot />
  </a>
</div>

<style>
  @media (min-width: 768px) {
    .scale {
      transform: var(--hover-scale-transform);
      transition: var(--hover-scale-transition);
    }
    .github-link:hover {
      @apply scale;
    }
  }
</style>
