---
import { Image } from "@astrojs/image/components";

import Chrome from "./icons/Chrome.astro";
import Github from "./icons/Github.astro";
import PerformanceMetrics from './PerformanceMetrics';

const {
  link,
  github,
  imageText = false,
  label,
  HeaderElem,
  headerProps,
  headerClasses,
  imageProps,
  id,
  customClass,
  lighthouse,
} = Astro.props;
---

<li
  id={id}
  class={`w-full overflow-hidden mb-10 flex flex-col align-center rounded-xl justify-center border orange-border relative black-background shadow ${customClass}`}
>
  <HeaderElem {...headerProps} class={headerClasses}>
    {imageProps ? <Image format="webp" {...imageProps} /> : null}
    {imageText ? <span class="white-text">{label}</span> : null}
    {
      lighthouse ? (
        <PerformanceMetrics
          client:visible
          id={id}
          info={lighthouse}
          label={`${label} Google Lighthouse performance result`}
        />
      ) : null
    }
  </HeaderElem>
  <div class="black-background z-10 mt-auto">
    <div
      class="flex-col p-5 w-full border-t orange-t-border orange-background-secondary"
    >
      <slot />
    </div>
  </div>
  {
    github ? (
      <a
        aria-label={`${label} github page`}
        href={github}
        target="_blank"
        class="absolute top-4 right-4 card-home z-[6]"
      >
        <Github width={32} height={32} color="#e9552f" />
      </a>
    ) : null
  }
  {
    link ? (
      <a
        aria-label={`${label} web page`}
        href={link}
        target="_blank"
        class="absolute top-4 left-4 card-home z-[6]"
      >
        <Chrome width={32} height={32} color="#e9552f" />
      </a>
    ) : null
  }
</li>

<style>
  .scale-card {
    transform: var(--hover-scale-transform);
    transition: var(--hover-scale-transition);
  }
  .card-home:hover {
    @apply scale-card;
  }

  .letters-background::before {
    background-image: url(/random-letters.jpg);
  }

  .qpv-background::before {
    background-image: url(/qpv.jpg);
  }

  .markdown-background::before {
    background-image: url(/markdown.jpg);
  }

  .hiringjr-background::before {
    background-image: url(/hiringjr.jpg);
  }

  .dossiers-background::before {
    background-image: url(/dossiers.jpg);
  }

  .image-bg::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.15;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .shadow {
    box-shadow: 0 5px 8px 0px hsla(12, 81%, 55%, 0.42);
  }

  .elevate {
    transition: all 200ms ease-in;
  }

  .elevate:hover {
    transform: translateY(-0.5rem);
    transition: all 200ms ease-in;
    box-shadow: 0px 10px 16px 2px hsla(12, 81%, 55%, 0.42);
  }
</style>
