---
import Home from "./icons/Home.astro";
import Info from "./icons/Info.astro";
import Portfolio from "./icons/Portfolio.astro";
import Contact from "./icons/Contact.astro";

const { router } = Astro.props;

const settings = {
  home: {
    name: "Home",
    link: "/",
  },
  about: {
    name: "About me",
    link: "/about",
  },
  portfolio: {
    name: "Portfolio",
    link: "/portfolio",
  },
  contact: {
    name: "Contact",
    link: "mailto:fran.diazpaccot@gmail.com",
  },
};
---

<div
  class="md:hidden z-20 flex h-[72px] justify-center fixed w-full bottom-0 black-background border-t border-orange-12"
>
  <div class="flex w-full flex-1 justify-between">
    {
      ["home", "about", "portfolio", "contact"].map((value) => {
        // @ts-ignore
        const setting = settings[value] ?? {};
        const iconColor = setting.link === router ? "#e9552f" : "#c9c9c9";

        return (
          <a
            href={setting.link}
            class="items-center flex justify-center relative w-3/12"
            aria-label={`${setting.name} page`}
          >
            <div class="items-center h-20 flex font-semibold justify-center w-full">
              <Home
                width={28}
                height={28}
                hidden={value !== "home"}
                color={iconColor}
              />
              <Info
                width={28}
                height={28}
                hidden={value !== "about"}
                color={iconColor}
              />
              <Portfolio
                width={28}
                height={28}
                hidden={value !== "portfolio"}
                color={iconColor}
              />
              <Contact
                width={28}
                height={28}
                hidden={value !== "contact"}
                color={iconColor}
              />
              <span class="hidden">{setting.name}</span>
            </div>
          </a>
        );
      })
    }
  </div>
</div>
