---
import Home from "./icons/Home.astro";
import Info from "./icons/Info.astro";
import Portfolio from "./icons/Portfolio.astro";
import Contact from "./icons/Contact.astro";

const { router } = Astro.props;

const settings = {
  home: {
    name: "Home",
    link: '/'
  },
  about: {
    name: "About me",
    link: '/about'
  },
  portfolio: {
    name: "Portfolio",
    link: '/portfolio'
  },
  contact: {
    name: "Contact",
    link: '/contact'
  },
}
---

<div class="md:hidden z-10 flex h-14 justify-center fixed w-full bottom-0 black-background">
  <div style={{ borderTop: "1px solid #e9552f"}} class="flex w-full flex-1 justify-between" >
    {['home', 'about', 'portfolio', 'contact'].map(value => {
      const setting = settings[value] ?? {};
      const iconColor = setting.link === router ? "#e9552f" : '#c9c9c9';
  
      return (
        <a href='/' class="items-center flex justify-center relative w-3/12">
          <div class="items-center h-14 flex font-semibold justify-center w-full">
            <Home hidden={value !== 'home'} color={iconColor} />
            <Info hidden={value !== 'about'} color={iconColor} />
            <Portfolio hidden={value !== 'portfolio'} color={iconColor} />
            <Contact hidden={value !== 'contact'} color={iconColor} />
            <span class="hidden">{setting.name}</span>
          </div>
          {value}
        </a>
      )
    })}
  </div>
</div>
