---
import Card from "./Card.astro";
import Github from "./icons/Github.astro";

const {
  githubHref,
  githubAriaLabel,
  siteHrefProps,
  label,
  webpage,
  ariaWebpageLabel,
  id,
  ...cardProps
} = Astro.props;
---

<Card
  {...cardProps}
  label={label}
  webpage={webpage}
  HeaderElem="a"
  headerProps={{
    href: webpage,
    target: "_blank",
    "aria-label": ariaWebpageLabel,
  }}
  headerClasses={`px-10 h-48 font-bold flex justify-center items-center gap-4 relative min-w-[300px] card-home image-bg ${id}-background`}
  imageText
>
  <div class="w-full flex items-center flex-1 gap-2 justify-around">
    <a
      class="underline-offset-2 font-semibold hover:underline"
      href={webpage}
      target="_blank"
      aria-label={ariaWebpageLabel}
    >
      {label}
    </a>
    {
      githubHref ? (
        <a
          class="card-home"
          target="_blank"
          href={githubHref}
          aria-label={githubAriaLabel}
        >
          <Github color="#fff" />
        </a>
      ) : null
    }
    <a
      class="text-xs rounded-2xl underline text-gray-200 hover:text-white"
      {...siteHrefProps}>Learn more</a
    >
  </div>
</Card>

<style>
  .scale-card {
    transform: var(--hover-scale-transform);
    transition: var(--hover-scale-transition);
  }
  .card-home:hover {
    @apply scale-card;
  }
</style>
